.message {
    padding: 24px;
    text-align: center;
    color: var(--surface-text);
}

.wrapper {
    position: relative;
}

.progress {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
