.form {
    display: flex;
    gap: 8px;
    width: 100%;
}

@media (min-width: 1920px) {
    .form {
        max-width: 1280px;
    }
}

.input {
    flex: 1;
    padding: 8px 16px;
    border-radius: 4px;
    border: 2px solid var(--primary-color);
}

.button {
    padding: 8px 16px;
    border-radius: 4px;
    background: var(--secondary-color);
    color: var(--primary-color);
    font-weight: 600;
    white-space: nowrap;
}

.button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}
